server:
  port: 8080
spring:
  application:
    name: qnaService
  datasource:
    url: jdbc:h2:./db_dev;MODE=MySQL # H2 데이터 베이스 연결
    username: sa
    password:
    driver-class-name: org.h2.Driver
    hikari:
      auto-commit: false
  jpa:
    hibernate:
      ddl-auto: create # DB 테이블 자동생성
    show-sql: true # SQL 출력
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true